<h1>Create An Account</h1>
<form action="/customer/new" method="post">
  <div class="form-group">
    <input id="name" name="name" placeholder="Name" class="form-control">
  </div>
  <div class="form-group">
    <input id="phone" type="number" name="phone" placeholder="Phone Number" class="form-control">
  </div>
  <div class="form-group">
    <input id="animal_preference" name="animal_preference" placeholder="Animal Preference" class="form-control">
  </div>
  <div class="form-group">
    <input id="breed_preference" name="breed_preference" placeholder="Breed Preference" class="form-control">
  </div>
  <button type="submit" class="btn">Create Account</button>
</form>
